.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #8a7c54;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__group-title {
    width: 30%;
    text-align: left;
}

.form__label--item {
    color: #483d17;
}

.form__label--required {
    color: #ff0000;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__group-content {
    width: 70%;
}

.form__input--text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__input--name-last_name, 
.form__input--name-first_name {
    width: 100%;
}

.input-last_name, .input-first_name {
    border: 1px solid #746f61;
    border-radius: 3px;
    padding: 0 20px;
    height: 48px;
    width: 100%;
    background: #efece1;
    color: #746f61;
}

.form__group--gender {
    width: 100%;
}

.form__input--gender {
    text-align: left;
}

.input-gender {
    color: #988b5f;
    font-size: 18px;
}

.form-group__email, .form-group__tel, 
.form-group__address .form-group__detail {
    width: 100%;
}

.input-email, .input-tel, 
.input-address, .input-building {
    border: 1px solid #988b5f;
    border-radius: 3px;
    padding: 0 20px;
    height: 48px;
    width: 100%;
    background: #efece1;
    color: #746f61;
}

.form__input--select {
    width: 60%;
    border: 1px solid #988b5f;
    border-radius: 3px;
    padding: 0 20px;
    height: 48px;
    background: #efece1;
    color: #c2bca7;
}

.form__input--textarea {
    border: 1px solid #988b5f;
    border-radius: 3px;
    padding: 10px 20px;
    height: 192px;
}

.input-detail {
    background: #efece1;
    color: #c2bca7;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px 20px;
    width: 100px;
    height: 60px;
    border: none;
    background: #988b5f;
    color: #fff;
    cursor: pointer;
}