.header-nav {
    text-align: right;
}

.header-nav__link {
    width: 100px;
    padding: 5px 0;
    border: 1px solid #c2bca7;
    color: #c2bca7;
    background: #d5d0bf;
}

.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    background-color: #e8d9a7;
}

.register-form__heading {
    margin-bottom: 30px;
    text-align: center;
}

.register-form__group-wrapper {
    margin: 30px auto;
    width: 50%;
    border: 1px solid #c2bca7;
    border-radius: 3px;
}

.form {
    margin: 30px auto;
    width: 60%;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    color: #988b5f;
    text-align: left;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    background: #d5d0bf;
    color: #c2bca7;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    background: #988b5f;
    color: #fff;
    cursor: pointer;
}